<!DOCTYPE html>
<html>
<head>
  <title>Invent</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
  <li>
  Welcome, <%= current_user.first_name %> &nbsp; <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> &nbsp; <%= link_to('Edit Profile', edit_user_registration_path ) %> &nbsp; <%= link_to('Equipment Items', '/equipment_items#index' ) %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>
  </li>
<% end %>

<%= yield %>

</body>
</html>
